@page "/"

<PageTitle>Index</PageTitle>

<div class="header">
    <div class="nav-box">
        <div class="logo"><img src="img/3a82426d1cd9482796625c5d0854f70b.png"/></div>
        <nav>
            <ul>
                <li>ABOUT ME</li>
                <li>WORKS</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </div>
    <div class="header-text">
        <div class="text">
            <h1>KTdesign</h1>
            <p>Web developer, 3D artist and creative person</p>
            <p style="font-size: 1vw; margin: 0;">Jakub Tomys</p>
            <img src="img/arrow.png" style="margin-left: 7vw; margin-top: 4vw;"/>
        </div>
        <img src="img/14620625_5484597.jpg"/>
    </div>
</div>

<div class="box1">
    <model-viewer id="model-viewer" camera-controls touch-action="pan-y" src="img/model/marble_bust_01_2k.gltf" ar alt="A 3D transparency test" style="background-color: unset;"></model-viewer>
</div>